<!DOCTYPE html>
<html>
  <head>
    <title>Flexbox test</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        width: 800px;
        margin: auto;
      }
      * {
        font-family: helvetica;
      }

      .container {
        padding: 20px;
        max-width: 800px;
        /* 16px */
        font-size: 1rem;
        /* 24px */
        line-height: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h2 class="text-lg font-bold">Atal Bihari Vajpayee</h2>
        <h1 class="text-xl font-bold my-2">
          INDIAN INSTITUTE OF INFORMATION TECHNOLOGY AND MANAGEMENT, GWALIOR
        </h1>
        <div class="flex">
          <div>
            <h3 class="underline">
              Application form for Faculty Position – Summary Document
            </h3>
            Please read the insdivuctions in the advertisement carefully before
            filling the form. Please provide the following information with
            application.
          </div>
          <div>
            <img
              src="https://images.shiksha.com/mediadata/images/1609308018phpA4JpiI.jpeg"
              alt="logo"
            />
          </div>
        </div>
      </div>
      <h3 class="font-bold">General Information</h3>
      <div class=" flex justify-between">
        <div class=" flex-1">
          <div class="border  flex justify-between mr-20">
            <h5>Adno:</h5>
            <h5>{{userInfo.adNo}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Post:</h5>
            <h5>{{userInfo.post}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Discipline:</h5>
            <h5>{{userInfo.discipline}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Name:</h5>
            <h5>{{userInfo.fname}} {{userInfo.mname}} {{userInfo.lname}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Date of Birth:</h5>
            <h5>{{userInfo.dob}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Category:</h5>
            <h5>{{userInfo.category}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Phone Number:</h5>
            <h5>{{userInfo.phno}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Email Id:</h5>
            <h5>{{userInfo.email}}</h5>
          </div>
          <div class="border  flex justify-between mr-20">
            <h5>Marital Status:</h5>
            <h5>{{userInfo.maritalStatus}}</h5>
          </div>
        </div>

        <div class="w-60">
          <img
            src="http://res.cloudinary.com/saahildev/image/upload/v1658147792/Mini-project-pp/ulo7sah3owg5otzm3vee.jpg"
            class=" w-72 object-cover"
          />
        </div>
      </div>
      <div class="my-1">
        <h4 class="border mr-20">Address</h4>
        <div class="border flex justify-between mr-20">
          <h5 class="border ">Location</h5>
          <h5 class="border ">{{userInfo.address.loc}}</h5>
        </div>
        <div class="border flex justify-between mr-20">
          <h5 class="border ">Pincode</h5>
          <h5 class="border ">{{userInfo.address.pin}}</h5>
        </div>
      </div>
      <div class="my-4">
        <h4 class="font-bold">
          Academic Qualifications
        </h4>
        <table class="border table-auto">
          <thead class="border text-center">
            <tr>
              <td class="border p-1">Degree</td>
              <td class="border p-1 ">Branch</td>
              <td class="border p-1 ">Uni</td>
              <td class="border p-1 ">Completion Year</td>
              <td class="border p-1 ">Grade</td>
            </tr>
            <tbody>
                {{#each userInfo.academic as | i |}}
                 <tr>
                 <td class="border p-1 ">{{i.degree}}</td>
                 <td class="border p-1 ">{{i.branch}}</td>
                 <td class="border p-1 ">{{i.university}}</td>
                 <td class="border p-1 ">{{i.completionYear}}</td>
                 <td class="border p-1 ">{{i.grade}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4 ">
        <h4 class="font-bold">
          Teaching Experience
        </h4>
        <table class="border ">
          <thead class="border text-center">
            <tr>
              <td class="border p-1">University</td>
              <td class="border p-1">Designation</td>
              <td class="border p-1">Date of Joining</td>
              <td class="border p-1">Date of Leaving</td>
              <td class="border p-1">Pay Level</td>
              <td class="border p-1">Pay in Pay Level</td>
              <td class="border p-1">GP</td>
              <td class="border p-1">Reason for Leaving</td>
            </tr>
            <tbody>
                {{#each userInfo.teachingExp as | i |}}
                 <tr>
                 <td class="border p-1">{{i.employer}}</td>
                 <td class="border p-1">{{i.position}}</td>
                 <td class="border p-1">{{i.dateOfJoining}}</td>
                 <td class="border p-1">{{i.dateOfLeaving}}</td>
                 <td class="border p-1">{{i.payLevel}}</td>
                 <td class="border p-1">{{i.PayInPayLevel}}</td>
                 <td class="border p-1">{{i.GP}}</td>
                 <td class="border p-1">{{i.reasonForLeaving}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4">
        <h4 class="font-bold">
          Industrial Exp
        </h4>
        <table class="border ">
          <thead class="border text-center">
            <tr>
              <td class="border p-1 ">Uni</td>
              <td class="border p-1 ">Designation</td>
              <td class="border p-1 ">Period</td>
              <td class="border p-1 ">Nature of Work</td>
            </tr>
            <tbody>
                {{#each userInfo.industrialExp as | i |}}
                 <tr>
                 <td class="border p-1 ">{{i.organisation}}</td>
                 <td class="border p-1 ">{{i.designation}}</td>
                 <td class="border p-1 ">{{i.period}}</td>
                 <td class="border p-1 ">{{i.natureOfWork}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4 ">
        <h4 class="font-bold">
          Consultancy
        </h4>
        <table class="border ">
          <thead class="border  text-center">
            <tr>
              <td class="border p-1 ">University</td>
              <td class="border p-1 ">Title</td>
              <td class="border p-1 ">Period</td>
              <td class="border p-1 ">Grant Amount</td>
              <td class="border p-1 ">Co-Investigators</td>
              <td class="border p-1 ">Status</td>
            </tr>
            <tbody>
                {{#each userInfo.consultancy as | i |}}
                 <tr>
                 <td class="border p-1 ">{{i.organisation}}</td>
                 <td class="border p-1 ">{{i.title}}</td>
                 <td class="border p-1 ">{{i.period}}</td>
                 <td class="border p-1 ">{{i.grantAmount}}</td>
                 <td class="border p-1 ">{{i.coInvestigators}}</td>
                 <td class="border p-1 ">{{i.status}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4">
        <h4 class="font-bold">
          PHD Thesis Supervised
        </h4>
        <table class=" border ">
          <thead class=" border  text-center">
            <tr>
              <td class=" border p-1 ">Status</td>
              <td class=" border p-1 ">No</td>
            </tr>
            <tbody>
              <tr>
                <td class=" border p-1 ">Bachelor Level</td>
                <td class=" border p-1 ">{{userInfo.thesis.bachelorsLvl}}</td>
              </tr>
              <tr>
                <td class=" border p-1 ">Bachelor Level</td>
                <td class=" border p-1 ">{{userInfo.thesis.mastersLvl}}</td>
              </tr>
              <tr>
                <td class=" border p-1 ">PHD Co</td>
                <td class=" border p-1 ">{{userInfo.thesis.phdCo}}</td>
              </tr>
              <tr>
                <td class=" border p-1 ">PHD Single</td>
                <td class=" border p-1 ">{{userInfo.thesis.phdSingle}}</td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4">
        <h4 class="font-bold">
          Sponsored Research Projects
        </h4>
        <table class="border border-collapse">
          <thead class="border text-center ">
            <tr>
            <td class="border p-1 ">University</td>
            <td class="border p-1 ">Title</td>
            <td class="border p-1 ">Period</td>
            <td class="border p-1 ">Grant Amount</td>
            <td class="border p-1 ">Co-Investigators</td>
            <td class="border p-1 ">Status</td>
            </tr>
            <tbody>
                {{#each userInfo.sponsoredProjects as | i |}}
                 <tr>
                 <td class="border p-1 ">{{i.organisation}}</td>
                 <td class="border p-1 ">{{i.title}}</td>
                 <td class="border p-1 ">{{i.period}}</td>
                 <td class="border p-1 ">{{i.grantAmount}}</td>
                 <td class="border p-1 ">{{i.coInvestigators}}</td>
                 <td class="border p-1 ">{{i.status}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-4">
        <h4 class="font-bold">
          Publications
        </h4>
        <table class="border border-collapse">
          <thead class="text-center border ">
            <tr>
              <td class="p-1 border ">Books</td>
              <td class="p-1 border">National Conferences</td>
              <td class="p-1 border">I'National Conferences</td>
              <td class="p-1 border">Book Chapters</td>
            </td>
          </tr>
          <tbody>
            <tr>
              <td class="p-1 border">{{userInfo.publications.books}}</td>
              <td class="p-1 border">{{userInfo.publications.nationalConferences}}</td>
              <td class="p-1 border">{{userInfo.publications.internationalConferences}}</td>
              <td class="p-1 border">{{userInfo.publications.bookChapters}}</td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
    </div>
  </body>
</html>
