
<!DOCTYPE html>
<html>
  <head>
    <title>Summary PDF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
    <style>
      body {
        width: 800px;
        margin: auto;
      }
      * {
        font-family: helvetica;
      }

      .container {
        padding: 20px;
        max-width: 800px;
        /* 16px */
        font-size: 1rem;
        /* 24px */
        line-height: 1.5rem;
      }

  .break_before {
    page-break-before: always;
}
    </style>
  </head>
  <body class="">
    <div class="container">
      <div class="flex font-bold justify-between">
        <div class="container text-center">

          <h2 class="text-[0.9rem] font-bold">Atal Bihari Vajpayee</h2>
          <h1 class="text-[0.9rem] font-bold my-2">
            INDIAN INSTITUTE OF INFORMATION TECHNOLOGY AND MANAGEMENT, GWALIOR
          </h1>
          <div class="text-[0.9rem]">
            <h3 class="underline">
              Application form for Faculty Position
            </h3>
            <h3 class="underline my-1">
              Summary Document
            </h3>
            <h4 class="my-1">
              Application ID: _____________________ (To be filled by the office)
            </h4>
          </div>
        </div>
          <div>
            <img
              src="https://images.shiksha.com/mediadata/images/1609308018phpA4JpiI.jpeg"
              alt="logo"
              class="h-[10rem] w-[12rem]"
            />
          </div>
        </div>
      </div>
      <h3 class="font-bold mx-2">A: General Information</h3>
      <div class=" flex justify-between mx-2">
        <div class=" flex-1">            
<div class="flex justify-between border">
  <div class="flex justify-between w-[35%]">
    <h5 class="">1.Advertisement no:</h5>
<div class="border-l"></div>
  </div>
  <h5>{{userInfo.adNo}}</h5>
</div>
            <div class="flex justify-between border">
              <div class="flex justify-between w-[35%]">
              <h5>2.Post Applied for:</h5>
              <div class="border-l"></div>
            </div>
            <h5>{{userInfo.post}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">
            <h5>3.Discipline:</h5>
            <div class="border-l"></div>
          </div>
            <h5>{{userInfo.discipline}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>4.Name:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.fname}} {{userInfo.mname}} {{userInfo.lname}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>5.Father's/Husbands's Name:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.fatherName}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>6.Date of Birth:</h5>
<div class="border-l"></div>
</div>

            <h5>{{date userInfo.dob "MM-DD-YYYY"}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>7.Category:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.category}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>8.Phone Number:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.phno}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>9.Email Id:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.email}}</h5>
          </div>
          <div class="flex justify-between border">
            <div class="flex justify-between w-[35%]">

            <h5>10.Marital Status:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.maritalStatus}}</h5>
          </div>
    </div>
        <div class="h-[14rem] p-0 m-0 border-2">
          <img
          src="http://res.cloudinary.com/saahildev/image/upload/v1658147792/Mini-project-pp/ulo7sah3owg5otzm3vee.jpg"
          src="{{userInfo.userPPUrl}}"
            class="h-[14rem] w-[13rem] object-cover"
          />
        </div>
      </div>
        <div class="border flex justify-between mx-2">
            <div class="flex justify-between w-[26.7%] ">
            <h5 class="">11.Address with PIN</h5>
            <div class="border-l"></div>
            </div>
          <div class="flex-grow text-end">
            <h5 class="">{{userInfo.address.loc}}</h5>
            <hr class="" />
            <h5 class=" ">{{userInfo.address.pin}}</h5>
          </div>
          </div>
      </div>
      <div class="flex justify-around">
        <div class="my-2 mx-2">
        <table class="">
          <thead class="text-center">
            <tr>
              <th colspan="10" class="border p-1">
                12.Academic Qualifications
              </th>
            </tr>
            <tr>
              <td class="p-1 border">Degree/Title</td>
              <td class="p-1 border">Branch/Specialisation</td>
              <td class="p-1 border">University/College</td>
              <td class="p-1 border">Completion Year</td>
              <td class="p-1 border">Grade/%Marks</td>
              <!-- <td class="p-1 ">Division</td> -->
            </tr>
            <tbody>
                {{#each userInfo.academic as | i |}}
                 <tr>
                 <td class="p-1 border">{{i.degree}}</td>
                 <td class="p-1 border">{{i.branch}}</td>
                 <td class="p-1 border">{{i.university}}</td>
                 <td class="p-1 border">{{date i.completionYear "MM-DD-YYYY"}}</td>
                 <td class="p-1 border">{{i.grade}}</td>
                 <!-- <td class="p-1 ">{{i.division}}</td> -->
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-2 mx-2">
        <table class="">
          <thead class="text-center">
            <tr>
              <th colspan="10" class="border p-1">
                13.Teaching/Industrial Experience
              </th>
            </tr>
            <tr>
              <td class="p-1 border">University</td>
              <td class="p-1 border">Designation</td>
              <td class="p-1 border">Period</td>
            </tr>
            <tbody>
                {{#each userInfo.industrialExp as | i |}}
                 <tr>
                 <td class="p-1 border">{{i.organisation}}</td>
                 <td class="p-1 border">{{i.designation}}</td>
                 <td class="p-1 border">{{ i.period }}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
    </div>
      <div class="flex justify-around">
        <div class="my-2 mx-2">
        <table class="">
          <thead class="text-center ">
            <tr>
              <th colspan="10" class="border p-1">
                14.Sponsored Research Projects
              </th>
            </tr>
            <tr>
            <td class="p-1 border">Title</td>
            <td class="p-1 border">Grant Amount</td>
            <td class="p-1 border">Status</td>
            </tr>
            <tbody>
                {{#each userInfo.sponsoredProjects as | i |}}
                 <tr>
                 <td class="p-1 border">{{i.title}}</td>
                 <td class="p-1 border">{{i.grantAmount}}</td>
                 <td class="p-1 border">{{i.status}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
      <div class="my-2 mx-2 ">
        <table class="">
          <thead class=" text-center">
            <tr>
              <th colspan="10" class="border p-1">
                15.Consultancy
              </th>
            </tr>
            <tr>
              <td class="p-1 border">University</td>
              <td class="p-1 border">Title</td>
              <td class="p-1 border">Grant Amount</td>
            </tr>
            <tbody>
                {{#each userInfo.consultancy as | i |}}
                 <tr>
                 <td class="p-1 border">{{i.organisation}}</td>
                 <td class="p-1 border">{{i.title}}</td>
                 <td class="p-1 border">{{i.grantAmount}}</td>
                 </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>
    </div>
      <div class="flex justify-around">
      <div class="my-2 mx-1">
        <table class="">
          <thead class="  text-center">
            <tr>
              <th colspan="10" class="border p-1">
                16.PHD Thesis Supervised
              </th>
            </tr>
            <tr>
              <td class=" p-1 border ">Status</td>
              <td class=" p-1 border ">Number</td>
            </tr>
            <tbody>
              <tr>
                <td class=" p-1 border ">Master's Level</td>
                <td class=" p-1 border ">{{userInfo.thesis.mastersLvl}}</td>
              </tr>
              <tr>
                <td class=" p-1 border ">PHD Co</td>
                <td class=" p-1 border ">{{userInfo.thesis.phdCo}}</td>
              </tr>
              <tr>
                <td class=" p-1 border ">PHD Single</td>
                <td class=" p-1 border ">{{userInfo.thesis.phdSingle}}</td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>

      <div class="my-2 mx-1">
        <table class="">
          <thead class="text-center  ">
            <tr>
              <th colspan="10" class="border p-1">
                17.Patents
              </th>
            </tr>
            <tr>
              <td class="p-1 border  ">Status</td>
              <td class="p-1 border  ">Number</td>
            </td>
          </tr>
          <tbody>
            <tr>
              <td class="p-1 border ">Awarded</td>
              <td class="p-1 border ">{{add userInfo.patent.awardedNational userInfo.patent.awardedIntenational}}</td>
            </tr>
            <tr>
              <td class="p-1 border ">Pending</td>
              <td class="p-1 border ">{{add userInfo.patent.filedNational userInfo.patent.filedInternational}}</td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
    <div class="my-2 mx-1">
      <table class="">
        <thead class="text-center  ">
          <tr>
            <th colspan="10" class="border p-1">
              18.Publications
            </th>
          </tr>
          <tr>
            <td class="p-1 border  ">Books</td>
            <td class="p-1 border ">National Conferences</td>
            <td class="p-1 border ">I'National Conferences</td>
            <td class="p-1 border ">Book Chapters</td>
          </td>
        </tr>
        <tbody>
          <tr>
            <td class="p-1 border ">{{userInfo.publications.books}}</td>
            <td class="p-1 border ">{{userInfo.publications.nationalConferences}}</td>
            <td class="p-1 border ">{{userInfo.publications.internationalConferences}}</td>
            <td class="p-1 border ">{{userInfo.publications.bookChapters}}</td>
          </tr>
        </tbody>
      </thead>
    </table>
</div>
  </div>
      
      <div class="flex justify-around">
        
    <div class="my-2 mx-2">
      <table class="">
        <thead class="text-center  ">
          <tr>
            <th colspan="10" class="border p-1">
              19.Passed higher level exams
            </th>
          </tr>
          <tr>
            <td class="p-1 border  ">NET</td>
            <td class="p-1 border ">GATE</td>
            <td class="p-1 border ">CSIR/UGCJRF</td>
        </tr>
        <tbody>
          <tr>
            <td class="p-1 border ">{{userInfo.examsCleared.net}}</td>
            <td class="p-1 border ">{{userInfo.examsCleared.gate}}</td>
            <td class="p-1 border ">{{userInfo.examsCleared.csirOrjrf}}</td>
        </tbody>
      </thead>
    </table>
  </div>
  <div class="my-2 mx-2">
    <table class="">
      <thead class="text-center  ">
        <tr>
          <th colspan="10" class="border p-1">
            20.CEPs/Workshops/Seminars/STCs organized
          </th>
        </tr>
        <tr>
          <td class="p-1 border  ">Duration</td>
          <td class="p-1 border ">Participants</td>
        </td>
      </tr>
      <tbody>
        <tr>
          {{#each userInfo.workshopsOrganised as | i |}}
          <td class="p-1 border ">{{date i.periodFrom "MM-DD-YYYY"}} to {{date i.periodTo "MM-DD-YYYY"}}</td>
          <td class="p-1 border ">{{i.noOfCandidates}}</td>
          {{/each}}
        </tr>
      </tbody>
    </thead>
  </table>
  </div>
</div>

  <div class="flex my-2 justify-center">
    <table class="">
      <thead class="text-center  ">
        <tr>
          <th colspan="10" class="border p-1">
            21.Have you ever been punished
          </th>
        </tr>
        <tr>
          <td class="p-1 border  ">At College/Uni</td>
          <td class="p-1 border ">In service</td>
          <td class="p-1 border ">By court of law</td>
          <td class="p-1 border ">Asked to resign</td>
          <td class="p-1 border ">Dismissed</td>
          <td class="p-1 border ">discharged</td>
          <td class="p-1 border ">Pending court cases</td>

      </tr>
      <tbody>
        <tr>
          <td class="p-1 border ">{{userInfo.punishmentClg}}</td>
          <td class="p-1 border ">{{userInfo.punishmentClg}}</td>
          <td class="p-1 border ">{{userInfo.punishmentCourt}}</td>
          <td class="p-1 border ">{{userInfo.mentalHealth}}</td>
          <td class="p-1 border ">{{userInfo.mentalHealth}}</td>
          <td class="p-1 border ">{{userInfo.mentalHealth}}</td>
          <td class="p-1 border ">{{userInfo.courtCases}}</td>
      </tbody>
    </thead>
  </table>
</div>

<div class="break_before">
  <div class="flex font-bold justify-between">
    <div class="container text-center">

      <h2 class="text-[0.9rem] font-bold">Atal Bihari Vajpayee</h2>
      <h1 class="text-[0.9rem] font-bold my-2">
        INDIAN INSTITUTE OF INFORMATION TECHNOLOGY AND MANAGEMENT, GWALIOR
      </h1>
      <div class="text-[0.9rem]">
        <h3 class="underline">
          Application form for Faculty Position
        </h3>
        <div class="my-1 text-start">
          <h3 >
            Note:
          </h3>
          <h3>
            1.	Please read the instructions in the advertisement carefully before filling the application form.
          </h3>
          <h3>
            2.	Use a separate sheet(s), wherever required, to fill sub-heading in the format indicated as Appendices.
          </h3>
          <h3>
            3.	All separate sheet(s) must bear your name, signature, and page number.
          </h3>
        </div>
        <h4 class="my-1">
          Application ID: _____________________ (To be filled by the office)
        </h4>
      </div>
    </div>
      <div>
        <img
          src="https://images.shiksha.com/mediadata/images/1609308018phpA4JpiI.jpeg"
          alt="logo"
          class="h-[10rem] w-[12rem]"
        />
      </div>
    </div>
  <h3 class="font-bold mx-2">A.General Information</h3>
      <div class=" flex justify-between mx-2">
        <div class=" flex-1">
          <div class="border flex justify-between">
  <div class="flex justify-between w-[35%]">
            <h5>1.Advertisement no:</h5>
<div class="border-l"></div>
</div>
            <h5>{{userInfo.adNo}}</h5>
          </div>
          <div class="border flex justify-between">
  <div class="flex justify-between w-[35%]">

            <h5>2.Post:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.post}}</h5>
          </div>
          <div class="">
            <div class="border flex justify-between">
              <div class="flex justify-between w-[35%]">
              <h5>3.Name in full</h5>
<div class="border-l"></div>
</div>
              <div class="flex">
                <h5 class="border-x px-1 ">{{userInfo.fname}}</h5>
                <h5 class="border-x px-1 ">{{userInfo.mname}}</h5>
                <h5 class="border-x pl-1 "> {{userInfo.lname}}</h5>
              </div>
            </div>
            <div class="border  flex justify-between">
  <div class="flex justify-between w-[35%]">

              <h5>4.Father's name:</h5>
<div class="border-l"></div>
</div>


              <h5>{{userInfo.fatherName}}</h5>
            </div>
          </div>
          <div class="border  flex justify-between">
  <div class="flex justify-between w-[35%]">

            <h5>5.Aadhaar Number:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.aadhaarNo}}</h5>
          </div>
          <div class="border flex justify-between">
  <div class="flex justify-between w-[35%]">

            <h5>6.Fee Details</h5>
<div class="border-l"></div>
</div>
            <div class="flex-grow">
              <div class="flex justify-between">
  <div class="flex justify-between w-[35%]">

                <h5>Transaction Id</h5>
<div class="border-l"></div>
</div>
                <h5>{{userInfo.feeDetails.id}}</h5>
              </div>
              <hr />
              <div class="flex justify-between">
  <div class="flex justify-between w-[35%]">

                <h5>Date of transaction</h5>
<div class="border-l"></div>

                </div>
                <h5>{{date userInfo.feeDetails.date "MM-DD-YYYY"}}</h5>
              </div>
            </div>
          </div>
          <div class="border  flex justify-between">
  <div class="flex justify-between w-[35%]">

            <h5>7.Account Details used for transaction:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.feeDetails.accUsed}}</h5>
          </div>
          <div class="border  flex justify-between">
  <div class="flex justify-between w-[35%]">

            <h5>8.Specialisation:</h5>
<div class="border-l"></div>
</div>

            <h5>{{userInfo.specialisation}}</h5>
          </div>
        </div>

        <div class="h-[14rem] p-0 m-0 border-2">
          <img
            src="http://res.cloudinary.com/saahildev/image/upload/v1658147792/Mini-project-pp/ulo7sah3owg5otzm3vee.jpg"
          src="{{userInfo.userPPUrl}}"
          class="h-[14rem] w-[13rem] object-cover"
            class=" w-72 object-cover"
          />
        </div>
      </div>
      <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">
      
                  <h5>9.Gender:</h5>
      <div class="border-l"></div>
      </div>
      
                  <h5>{{userInfo.gender}}</h5>
                </div>        
                <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">
      
                  <h5>10.Marital Status:</h5>
      <div class="border-l"></div>
      </div>
      
                  <h5>{{userInfo.maritalStatus}}</h5>
                </div>   
      <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">
        <h5>11.Category:</h5>
<div class="border-l"></div>
</div>

        <h5>{{userInfo.category}}</h5>
      </div>  
        <div class="border flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">

          <h4 >12.Address for correspondence</h4>
<div class="border-l"></div>
</div>
<div class="flex-grow text-end">
            <h5 class="h-12 ">{{userInfo.address.loc}}</h5>
            <hr />
            <div class="flex justify-end ">
              <h5 class="px-4">PINCODE:</h5>
              <h5 class=" ">{{userInfo.address.pin}}</h5>
            </div>
        </div>
      </div>
        <div class="border flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">
          <h4 >13.Permanent address (if different from above)</h4>
<div class="border-l"></div>
</div>
<div class="flex-grow text-end">
            <h5 class="h-12">{{userInfo.secAddress.loc}}</h5>
            <hr />
            <div class="flex justify-end ">
              <h5 class="px-4">PINCODE:</h5>
            <h5 class=" ">{{userInfo.secAddress.pin}}</h5>
            </div>
          </div>
        </div>
        <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">

          <h5>14.Email Id:</h5>
<div class="border-l"></div>
</div>

          <h5>{{userInfo.email}}</h5>
        </div>
        <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">

          <h5>15.Alternate Email Id:</h5>
<div class="border-l"></div>
</div>

          <h5>{{userInfo.secEmail}}</h5>
        </div>
        <div class="flex mx-2">

          <div class="border flex-grow  flex justify-between">
            <div class="flex justify-between w-[60%]">
              
              <h5>16.Phone Number:</h5>
              <div class="border-l"></div>
            </div>

          <h5 class="pr-2">{{userInfo.phno}}</h5>
        </div>
        <div class="border flex-grow  flex justify-between">
          <div class="flex justify-between w-[50%]">
            
          <h5>17.Secondary Phone Number:</h5>
          <div class="border-l"></div>
        </div>
        
        <h5>{{userInfo.secPhNo}}</h5>
      </div>
    </div>
    <div class="flex mx-2">
        <div class="border flex flex-grow justify-between ">
        <div class="flex justify-between w-[62.9%]">
          <h5>18.Date of Birth:</h5>
<div class="border-l"></div>
</div>

          <h5 class="pr-2">{{date userInfo.dob "MM-DD-YYYY"}}</h5>
        </div>
        <div class="border flex-grow  flex justify-between">
        <div class="flex justify-between w-[50%]">

          <h5>19.Age on last date of advertisement:</h5>
<div class="border-l"></div>
</div>
          <h5>{{userInfo.age}}</h5>
        </div>
      </div>
        <div class="border  flex justify-between mx-2">
        <div class="flex justify-between w-[26.7%]">

          <h5>20.Nationality:</h5>
<div class="border-l"></div>
</div>

          <h5>{{userInfo.nationality}}</h5>
        </div>
        <!-- <h2 class="font-bold">*,**,*** Enclose relevant documents/certificates/proofs as <span class="underline"> Appendix 1, 2 and 3,</span> respectively.</h2>         -->
      </div>
</div>
<!-- <div class="break_before"> -->

<div class="my-4 mx-2">
  <h4 class="font-bold">
    B.Academic Details
  </h4>
  <h4 class="">
    21.Academic Qualifications
  </h4>
  <table class="border table-auto">
    <thead class="border text-center">
      <tr>
        <td class="border p-1">Degree / Exam</td>
        <td class="border p-1 ">Branch / Specialisation</td>
        <td class="border p-1 ">University / Board / College</td>
        <td class="border p-1 ">Completion Year</td>
        <td class="border p-1 ">Percentage of Marks / Grade</td>
        <td class="border p-1 ">Division</td>
      </tr>
      <tbody>
          {{#each userInfo.academic as | i |}}
           <tr>
           <td class="border p-1 ">{{i.degree}}</td>
           <td class="border p-1 ">{{i.branch}}</td>
           <td class="border p-1 ">{{i.university}}</td>
           <td class="border p-1 ">{{date i.completionYear "MM-DD-YYYY"}}</td>
           <td class="border p-1 ">{{i.grade}}</td>
           <td class="border p-1 ">{{i.division}}</td>
           </tr>
      {{/each}}
      </tbody>
    </thead>
  </table>
  <h2 class="font-bold mb-2">
    Enclose mark sheets/certificates as Appendix 4. If there is any gap in the education, it should be specifically indicated as a last page in the Appendix 4.
  </h2>
  <h4 class="font-bold">
    22.Particulars of the PhD
  </h4>
  <div class="border">
    <div class=" flex justify-between border ">
      <h5 class=" ">Title of Dissertation</h5>
      <h5 class=" ">{{userInfo.particularsOfPhd.phdDissertationTitle}}</h5>
    </div>
    <div class="flex ">
      <div class=" flex justify-between border w-1/2 ">
        <h5 class=" border-r ">Enrollment Date</h5>
        <h5 class=" ">{{date userInfo.particularsOfPhd.enrollmentDate "MM-DD-YYYY"}}</h5>
      </div>
      <div class=" flex justify-between border w-1/2 ">
        <h5 class="border-r ">Registration Date</h5>
        <h5 class=" ">{{date userInfo.particularsOfPhd.registrationDate "MM-DD-YYYY"}}</h5>
      </div>
    </div>
    <div class="flex ">
      <div class=" flex justify-between  w-1/2 ">
        <h5 class="border-r ">Completion Date</h5>
        <h5 class=" ">{{date userInfo.particularsOfPhd.completionDate "MM-DD-YYYY"}}</h5>
      </div>
      <div class=" flex justify-between  w-1/2 ">
        <h5 class="border-r ">Supervisor(s)</h5>
        <h5 class=" ">{{userInfo.particularsOfPhd.supervisors}}</h5>
      </div>
    </div>
  </div>
  <div class="my-4 mx-2">
    <h4 class="font-bold">
      C.Employment Experience and Post PHD Experience
    </h4>
    <h4 class="">
      23. Employment details * (Fill the current employment first)
    </h4>
    <table class="border ">
      <thead class="border text-center">
        <tr>
          <td class="border p-1 ">Organization</td>
          <td class="border p-1 ">Position held</td>
          <td class="border p-1 ">Nature of Position (Regular / Contractual)</td>
          <td colspan="2" class="border p-1 ">Duration</td>
          <td class="border p-1 ">Pay band/Pay level</td>
          <td class="border p-1 ">Pay in Pay Brand/Pay in Pay Level</td>
          <td class="border p-1 ">GP/AGP</td>
          <td class="border p-1 ">Areas and Nature of work</td>
        </tr>
        <tr>
          <td class="border p-1 "></td>
          <td class="border p-1 "></td>
          <td class="border p-1 "></td>
          <td class="border p-1 ">Date of joining</td>
          <td class="border p-1 ">Date of leaving</td>
          <td class="border p-1 "></td>
          <td class="border p-1 "></td>
          <td class="border p-1 "></td>
          <td class="border p-1 "></td>
        </tr>
        <tbody>
            {{#each userInfo.teachingExp as | i |}}
             <tr>
             <td class="border p-1 ">{{i.employer}}</td>
             <td class="border p-1 ">{{i.position}}</td>
             <td class="border p-1 ">{{i.natureOfPosition}}</td>
             <td class="border p-1 ">{{date i.dateOfJoining "MM-DD-YYYY"}}</td>
             <td class="border p-1 ">{{date i.dateOfLeaving "MM-DD-YYYY"}}</td>
             <td class="border p-1 ">{{i.payLevel}}</td>
             <td class="border p-1 ">{{i.PayInPayLevel}}</td>
             <td class="border p-1 ">{{i.GP}}</td>
             <td class="border p-1 ">{{i.area}}</td>
             </tr>
        {{/each}}
        </tbody>
      </thead>
    </table>
    <h2 class="font-bold mb-2">
      Enclose experience certificate(s) as Appendix 5 and NOC from existing employer, if applicable, as Appendix 6.
    </h2>
    <h4 class="font-bold">
      24.Post Phd Experience
    </h4>
    <div class="flex">
      <div>
        <h5 class="border p-1 ">Post PhD Experience in Year(s) and Month(s)	</h5>
      </div>
        <div>
          <h5 class="border p-1 ">{{userInfo.postPhdExp}}</h5>
        </div>
      </div>
  </div>

  <div class="my-4 mx-2">
    <h4 class="font-bold">
      D.Membership
    </h4>
    <h4 class="">
      25.Membership of Professional bodies
    </h4>
    <table class="border ">
      <thead class="border text-center">
        <tr>
          <td class="border p-1 ">Name of the Professional Bodies		</td>
          <td class="border p-1 ">Membership No.</td>
          <td class="border p-1 ">Membership Type (Life/Yearly)</td>
        </tr>
        <tbody>
            {{#each userInfo.profBodyMembership as | i |}}
             <tr>
             <td class="border p-1 ">{{i.name}}</td>
             <td class="border p-1 ">{{i.membershipNo}}</td>
             <td class="border p-1 ">{{i.membershipType}}</td>
             </tr>
        {{/each}}
        </tbody>
      </thead>
    </table>
    </div>


    <div class="my-4 mx-2">
      <h4 class="font-bold">
        E.References
      </h4>
      <h4 class="">
        26. Three references: At least one of the references should be familiar with your recent work. *
      </h4>
      <table class="border ">
        <thead class="border text-center">
          <tr>
            <td class="border p-1 ">Name</td>
            <td class="border p-1 ">Designation</td>
            <td class="border p-1 ">Address</td>
            <td class="border p-1 ">Email</td>
            <td class="border p-1 ">Phone Number</td>
          </tr>
          <tbody>
              {{#each userInfo.references as | i |}}
               <tr>
               <td class="border p-1 ">{{i.name}}</td>
               <td class="border p-1 ">{{i.designation}}</td>
               <td class="border p-1 ">{{i.address}}</td>
               <td class="border p-1 ">{{i.email}}</td>
               <td class="border p-1 ">{{i.phone}}</td>
               </tr>
          {{/each}}
          </tbody>
        </thead>
      </table>
      <h2 class="font-bold mb-2">
        * Email/mobile number is mandatory.
      </h2>
      </div>

      <div class="my-4 mx-2">
        <h4 class="font-bold">
          F. Other Information
        </h4>
        <h4 class="">
         26.Publications 
         <span class="font-bold ml-1">(Enclose reprints of 05 best papers as Appendix 7) </span>
        </h4>
        <div class="flex justify-end mr-32">
          <h5 class="border">Total Number of papers:</h5>
          <h5 class="border">{{userInfo.publications.totalPapers}}</h5>
        </div>
        <table class="border ">
          <thead class="border text-center">
            <tr>
              <td>Type</td>
              <td>No.</td>
              <td>Type</td>
              <td>No.</td>
            </tr>
            <tbody>
              <tr>
                <td class="border p-1 ">Articles in referred Non-SCI indexed Journal(s)</td>
                <td class="border p-1">{{userInfo.publications.nonSciIndexedJournal}}</td>
                <td class="border p-1 ">Total number of articles in SCI indexed Journal(s)</td>
                <td class="border p-1">{{userInfo.publications.sciIndexedJournal}}</td>
              </tr>
              <tr>
                <td class="border p-1 ">Proceedings in International Conference(s)</td>
                <td class="border p-1">{{userInfo.publications.internationalConferences}}</td>
                <td class="border p-1 ">Proceedings in National Conference(s)</td>
                <td class="border p-1">{{userInfo.publications.nationalConferences}}</td>
              </tr>
              <tr>
                <td class="border p-1 ">Books</td>
                <td class="border p-1">{{userInfo.publications.books}}</td>
                <td class="border p-1 ">Book Chapters</td>
                <td class="border p-1">{{userInfo.publications.bookChapters}}</td>
              </tr>
                <td colspan="3" class="border p-1 ">Articles in SCI indexed Journal(s) outside the PhD work</td>
              <td class="border p-1">{{userInfo.publications.sciIndexJournalOutsidePhd}}</td>
                 </tr>
            </tbody>
          </thead>
        </table>
        <div class="my-4 mx-2">
          <h4 class="font-bold mt-2">
            27. Details of 05 Best Papers 
            provided in Appendix 7
          </h4>
          <table class="border ">
            <thead class="border text-center">
            <tr>
              <td class="border p-1 ">Author</td>
              <td class="border p-1 ">Year</td>
              <td class="border p-1 ">Title</td>
              <td class="border p-1 ">Complete Reference of Journal</td>
              <td class="border p-1 ">Impact Factor</td>
            </tr>
            <tbody>
              {{#each userInfo.publicationPaperDetails as | i |}}
              <td class="border p-1">{{i.author}}</td>
              <td class="border p-1">{{i.year}}</td>
              <td class="border p-1">{{i.title}}</td>
              <td class="border p-1">{{i.completeRefOfJournal}}</td>
              <td class="border p-1">{{i.impactFactor}}</td>
            </tr>
            {{/each}}
            </tbody>
          </thead>
        </table>
      </div>

        <div class="my-4 mx-2">
          <h4 class="font-bold">
            28. Patents’ Details
          </h4>
          <table class="border ">
            <thead class="border text-center">
              <tr>
                <td colspan="2" class="border p-1">Filed</td>
                <td colspan="2" class="border p-1 ">Awarded/Granted</td>
              </tr>
              <tbody>
                <tr>
                  <td class="border p-1 ">National</td>
                  <td class="border p-1 ">International</td>
                  <td class="border p-1 ">National</td>
                  <td class="border p-1 ">International</td>
                </tr>
              <tr>
                <td class="border p-1">{{userInfo.patent.filedNational}}</td>
                <td class="border p-1">{{userInfo.patent.filedInternational}}</td>
                <td class="border p-1">{{userInfo.patent.awardedNational}}</td>
                <td class="border p-1">{{userInfo.patent.awardedIntenational}}</td>
              </tr>
              </tbody>
            </thead>
          </table>
          </div>

          <div class="my-4 mx-2">
            <h4 >
              29. Research Experience 
              <span class="font-bold ml-1">
                (Excluding research done at the level of Masters/ PhD degrees)
              </span>
            </h4>
            <table class="border ">
              <thead class="border text-center">
                <tr>
                  <td colspan="2" class="border p-1 ">Duration</td>
                  <td rowspan="2" class="border p-1">Organization</td>
                  <td  class="border p-1">Area of Research</td>
                </tr>
                <tbody>
                  <tr>
                  <td  class="border p-1">From</td>
                  <td  class="border p-1">To</td>
                  <td  class="border p-1"></td>
                  <td  class="border p-1"></td>
                    
                  </tr>
                {{#each userInfo.researchExp as | i |}}
                <tr>
                  <td class="border p-1">{{i.durationFrom}}</td>
                  <td class="border p-1">{{i.durationTo}}</td>
                  <td class="border p-1">{{i.organisation}}</td>
                  <td class="border p-1">{{i.area}}</td>
                </tr>
          {{/each}}

                </tbody>
              </thead>
            </table>
            </div>


            <div class="my-4 mx-2">
              <h4 class="font-bold">
                30. Courses Taught
              </h4>
              <table class="border ">
                <thead class="border text-center">
                  <tr>
                    <td  class="border p-1 ">Title</td>
                    <td  class="border p-1">Level (UG/PG)</td>
                    <td  class="border p-1">Number of times</td>
                    <td  class="border p-1">Whether proposed by you ?</td>
                  </tr>
                  <tbody>
                  {{#each userInfo.coursesTaught as | i |}}
                  <tr>
                    <td class="border p-1">{{i.title}}</td>
                    <td class="border p-1">{{i.level}}</td>
                    <td class="border p-1">{{i.noOfTimes}}</td>
                    <td class="border p-1">{{i.developedByYou}}</td>
                  </tr>
          {{/each}}

                  </tbody>
                </thead>
              </table>
              </div>

              <div class="my-4 mx-2">
                <h4 >
                  31. Thesis (Masters / PhD) supervised 
                  <span class="font-bold ml-1">
                    (Completed at all the Institutions that you have worked with)
                  </span>
                </h4>
                <table class="border ">
                  <thead class="border text-center">
                    <tr>
                      <td  class="border p-1 ">Supervision</td>
                      <td  class="border p-1">Number</td>
                    </tr>
                    <tbody>
                    <tr>
                      <td  class="border p-1">Masters level (M.E/M.Tech)</td>
                      <td class="border p-1">{{userInfo.thesis.mastersLvl}}</td>
                    </tr>
                    <tr>
                      <td  class="border p-1">Ph.D. (Co-supervised)</td>
                      <td class="border p-1">{{userInfo.thesis.phdCo}}</td>
                    </tr>
                    <tr>
                      <td  class="border p-1">Ph.D. (Single)</td>
                      <td class="border p-1">{{userInfo.thesis.phdSingle}}</td>
                    </tr>
                    </tbody>
                  </thead>
                </table>
                </div>


                <div class="my-4 mx-2">
                  <h4 class="font-bold">
                    32. Sponsored Projects
                  </h4>
                  <table class="border ">
                    <thead class="border text-center">
                      <tr>
                        <td colspan="2"  class=" p-1 ">Period</td>
                        <td  class="border p-1">Sponsoring Organization</td>
                        <td  class="border p-1">Title of Project</td>
                        <td  class="border p-1">Grant Amount</td>
                        <td  class="border p-1">Co-investigators</td>
                        <td  class="border p-1">Status(Ongoing/Completed)</td>
                      </tr>
                      <tbody>
                      <tr>
                        <td  class="border p-1">From</td>
                        <td class="border p-1">To</td>
                        <td class="border p-1"></td>
                        <td class="border p-1"></td>
                        <td class="border p-1"></td>
                        <td class="border p-1"></td>
                        <td class="border p-1"></td>
                      </tr>
                  {{#each userInfo.sponsoredProjects as | i |}}

                      <tr>
                        <td class="border">{{date i.periodFrom "MM-DD-YYYY"}}</td>
                        <td class="border">{{date i.periodTo "MM-DD-YYYY"}}</td>
                        <td class="border">{{i.organisation}}</td>
                        <td class="border">{{i.title}}</td>
                        <td class="border">{{i.grantAmount}}</td>
                        <td class="border">{{i.coInvestigators}}</td>
                        <td class="border">{{i.status}}</td>
                      </tr>
                      {{/each}}
                      </tbody>
                    </thead>
                  </table>
                  </div>

                  <div class="my-4 mx-2">
                    <h4 class="font-bold">
                      33. Consultancy
                    </h4>
                    <table class="border ">
                      <thead class="border text-center">
                        <tr>
                          <td colspan="2"  class=" p-1 ">Period</td>
                          <td  class="border p-1">Sponsoring Organization</td>
                          <td  class="border p-1">Title of Project</td>
                          <td  class="border p-1">Grant Amount</td>
                          <td  class="border p-1">Co-investigators</td>
                          <td  class="border p-1">Status(Ongoing/Completed)</td>
                        </tr>
                        <tbody>
                        <tr>
                          <td  class="border p-1">From</td>
                          <td class="border p-1">To</td>
                          <td class="border p-1"></td>
                          <td class="border p-1"></td>
                          <td class="border p-1"></td>
                          <td class="border p-1"></td>
                          <td class="border p-1"></td>
                        </tr>
                    {{#each userInfo.consultancy as | i |}}
  
                        <tr>
                          <td class="border">{{date i.periodFrom "MM-DD-YYYY"}}</td>
                          <td class="border">{{date i.periodTo "MM-DD-YYYY"}}</td>
                          <td class="border">{{i.organisation}}</td>
                          <td class="border">{{i.title}}</td>
                          <td class="border">{{i.grantAmount}}</td>
                          <td class="border">{{i.coInvestigators}}</td>
                          <td class="border">{{i.status}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                      </thead>
                    </table>
                    </div>

                    <div class="my-4 mx-2">
                      <h4 class="font-bold">
                      34.  Articles in referred Non-SCI indexed Journals
                      <span class="font-bold ml-1">
                        (List those published and accepted separately)
                      </span>
                      </h4>
                      <table class="border ">
                        <thead class="border text-center">
                          <tr>
                            <td  class="border p-1">Author</td>
                            <td  class="border p-1">Year</td>
                            <td  class="border p-1">Title</td>
                            <td  class="border p-1">Complete Reference of Journal</td>
                            <td  class="border p-1">Impact Factor</td>
                          </tr>
                          <tbody>
                      {{#each userInfo.refJournal as | i |}}
    
                          <tr>
                            <td class="border">{{i.author}}</td>
                            <td class="border">{{date i.year "MM-DD-YYYY"}}</td>
                            <td class="border">{{i.title}}</td>
                            <td class="border">{{i.referenceOfJournal}}</td>
                            <td class="border">{{i.impactFactor}}</td>
                          </tr>
                          {{/each}}
                          </tbody>
                        </thead>
                      </table>
                      <h2 class="font-bold mb-2">* Attach a list as Appendix 9 in the format given above. Do not write et al. for authors. All the authors must be listed in the same order in the article.</h2>
                      </div>

                      <div class="my-4 mx-2">
                        <h4 class="font-bold">
                          35. Articles in SCI indexed Journals
                          <span class="font-bold ml-1">
                            (List those published and accepted separately)
                          </span>
                        </h4>
                        <table class="border ">
                          <thead class="border text-center">
                            <tr>
                              <td  class="border p-1">Author</td>
                              <td  class="border p-1">Year</td>
                              <td  class="border p-1">Title</td>
                              <td  class="border p-1">Complete Reference of Journal</td>
                              <td  class="border p-1">Impact Factor</td>
                            </tr>
                            <tbody>
                        {{#each userInfo.sciIndexJournal as | i |}}
      
                            <tr>
                              <td class="border">{{i.author}}</td>
                              <td class="border">{{date i.year "MM-DD-YYYY"}}</td>
                              <td class="border">{{i.title}}</td>
                              <td class="border">{{i.referenceOfJournal}}</td>
                              <td class="border">{{i.impactFactor}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                          </thead>
                        </table>
                        <h2 class="font-bold mb-2">* Attach a list as Appendix 10 in the format given above. Do not write et al. for authors. All the authors must be listed in the same order in the article.</h2>
                        </div>


                        <div class="my-4 mx-2">
                          <h4 class="font-bold">
                            36. Proceedings in International Conferences* 
                            <span class="font-bold ml-1">
                              (List those published and accepted separately)
                            </span>
                          </h4>
                          <table class="border ">
                            <thead class="border text-center">
                              <tr>
                                <td  class="border p-1">Author</td>
                                <td  class="border p-1">Year</td>
                                <td  class="border p-1">Title</td>
                                <td  class="border p-1">Name and place of conference</td>
                                <td  class="border p-1">Presented/published/both</td>
                              </tr>
                              <tbody>
                          {{#each userInfo.internationalConferences as | i |}}
        
                              <tr>
                                <td class="border">{{i.author}}</td>
                                <td class="border">{{date i.year "MM-DD-YYYY"}}</td>
                                <td class="border">{{i.title}}</td>
                                <td class="border">{{i.nameAndPlace}}</td>
                                <td class="border">{{i.presentedOrPublished}}</td>
                              </tr>
                              {{/each}}
                              </tbody>
                            </thead>
                          </table>
                          <h2 class="font-bold mb-2">* Attach a list as Appendix 11 in the format given above. Do not write et al. for authors. All the authors must be listed in the same order in the article.</h2>
                          </div>

                          <div class="my-4 mx-2">
                            <h4 class="font-bold">
                              37. Proceedings in National Conferences* 
                              <span class="font-bold ml-1">
                                (List those published and accepted separately)
                              </span>
                            </h4>
                            <table class="border ">
                              <thead class="border text-center">
                                <tr>
                                  <td  class="border p-1">Author</td>
                                  <td  class="border p-1">Year</td>
                                  <td  class="border p-1">Title</td>
                                  <td  class="border p-1">Name and place of conference</td>
                                  <td  class="border p-1">Presented/published/both</td>
                                </tr>
                                <tbody>
                            {{#each userInfo.nationalConferences as | i |}}
          
                                <tr>
                                  <td class="border">{{i.author}}</td>
                                  <td class="border">{{date i.year "MM-DD-YYYY"}}</td>
                                  <td class="border">{{i.title}}</td>
                                  <td class="border">{{i.nameAndPlace}}</td>
                                  <td class="border">{{i.presentedOrPublished}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                              </thead>
                            </table>
                            <h2 class="font-bold mb-2">* Attach a list as Appendix 12 in the format given above. Do not write et al. for authors. All the authors must be listed in the same order in the article.</h2>
                            </div>

                            <div class="my-4 mx-2">
                              <h4 class="font-bold">
                                38. Books 
                                <span class="font-bold ml-1">
                                  (List those published and in press separately)
                                </span>
                              </h4>
                              <table class="border ">
                                <thead class="border text-center">
                                  <tr>
                                    <td  class="border p-1">Title of the book</td>
                                    <td  class="border p-1">Year</td>
                                    <td  class="border p-1">ISBN No.</td>
                                    <td  class="border p-1">Publisher</td>
                                    <td  class="border p-1">Co-author(s)</td>
                                  </tr>
                                  <tbody>
                              {{#each userInfo.books as | i |}}
            
                                  <tr>
                                    <td class="border">{{i.title}}</td>
                                    <td class="border">{{date i.year "MM-DD-YYYY"}}</td>
                                    <td class="border">{{i.name}}</td>
                                    <td class="border">{{i.publisher}}</td>
                                    <td class="border">{{i.coAuthor}}</td>
                                  </tr>
                                  {{/each}}
                                  </tbody>
                                </thead>
                              </table>
                             </div>


                             
                            <div class="my-4 mx-2">
                              <h4 class="font-bold">
                                39. Have you qualified in the following higher-level examinations
                              </h4>
                              <table class="border ">
                                <thead class="border text-center">
                                  <tr>
                                    <td  class="border p-1">NET (UGC)</td>
                                    <td  class="border p-1">Gate</td>
                                    <td  class="border p-1">CSIR/ UGC JRF</td>
                                    <td colspan="3"  class="border p-1">Others (Please specify)</td>
                                  </tr>
                                  <tbody>
            
                                  <tr>
                                    <td class="border">{{userInfo.examsCleared.net}}</td>
                                    <td class="border">{{userInfo.examsCleared.gate}}</td>
                                    <td class="border">{{userInfo.examsCleared.csirOrjrf}}</td>
                                    <td class="border">{{userInfo.examsCleared.other1}}</td>
                                    <td class="border">{{userInfo.examsCleared.other2}}</td>
                                    <td class="border">{{userInfo.examsCleared.other3}}</td>
                                  </tr>
                                  </tbody>
                                </thead>
                              </table>
                              <h2  class="font-bold mb-2">* Tick mark at the appropriate box and attach certificates as Appendix 12.</h2>
                             </div>

                             <div class="my-4 mx-2">
                              <h4 class="font-bold">
                                40. Continuing education programme conducted
                              </h4>
                              <table class="border ">
                                <thead class="border text-center">
                                  <tr>
                                    <td  class="border p-1">Title</td>
                                    <td colspan="2"  class="border p-1 ">Period</td>
                                    <td  class="border p-1">Sponsoring Organization</td>
                                    <td  class="border p-1">Total Expenditure</td>
                                    <td  class="border p-1">Venue</td>
                                    <td  class="border p-1">No. of Candidates</td>
                                  </tr>
                                  <tbody>
                                  <tr>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1">From</td>
                                    <td class="border p-1">To</td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>

                                  </tr>
                                  <tbody>
                                    {{#each userInfo.educationProgConducted as | i |}}
            
                                  <tr>
                                    <td class="border">{{i.title}}</td>
                                    <td class="border">{{date i.periodFrom "MM-DD-YYYY"}}</td>
                                    <td class="border">{{date i.periodTo "MM-DD-YYYY"}}</td>
                                    <td class="border">{{i.organisation}}</td>
                                    <td class="border">{{i.totalExpenditure}}</td>
                                    <td class="border">{{i.venue}}</td>
                                    <td class="border">{{i.noOfCandidates}}</td>
                                  </tr>
                                  {{/each}}
                                  </tbody>
                                </thead>
                              </table>
                              <h2  class="font-bold mb-2">* Tick mark at the appropriate box and attach certificates as Appendix 12.</h2>
                             </div>

                             <div class="my-4 mx-2">
                              <h4 class="font-bold">
                                41. Short term courses/workshops/seminars etc. organized
                              </h4>
                              <table class="border ">
                                <thead class="border text-center">
                                  <tr>
                                    <td  class="border p-1">Title</td>
                                    <td colspan="2"  class="border p-1 ">Period</td>
                                    <td  class="border p-1">Sponsoring Organization</td>
                                    <td  class="border p-1">Total Expenditure</td>
                                    <td  class="border p-1">Venue</td>
                                    <td  class="border p-1">No. of Candidates</td>
                                  </tr>
                                  <tbody>
                                  <tr>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1">From</td>
                                    <td class="border p-1">To</td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>
                                    <td  class="border p-1"></td>

                                  </tr>
                                  <tbody>
                                    {{#each userInfo.workshopsOrganised as | i |}}
            
                                  <tr>
                                    <td class="border">{{i.title}}</td>
                                    <td class="border">{{date i.periodFrom "MM-DD-YYYY"}}</td>
                                    <td class="border">{{date i.periodTo "MM-DD-YYYY"}}</td>
                                    <td class="border">{{i.organisation}}</td>
                                    <td class="border">{{i.totalExpenditure}}</td>
                                    <td class="border">{{i.venue}}</td>
                                    <td class="border">{{i.noOfCandidates}}</td>
                                  </tr>
                                  {{/each}}
                                  </tbody>
                                </thead>
                              </table>
                              <h2  class="font-bold mb-2">* Tick mark at the appropriate box and attach certificates as Appendix 12.</h2>
                             </div>








  





<!-- </div> -->

    </div>
  </body>
</html>
